@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-color:rgb(253, 249, 230);
    font-family: 'Roboto', sans-serif;
}

.alert-error {
    padding: 8px;
    background-color: red;
    color: white;
  }

.flashes h4 {
    line-height: 2;
}

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.cornsilk{
    background-color: cornsilk;
}




.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.brand-logo{
    margin-left: 5px;
}

.right{
    text-align: right;
}

.btn-large{
    
    width: 250px;
    margin: 5px;
}

.btn-small{
    width: 80px;
    margin: 5px;
    padding: 1px;
}

@media screen and (max-width: 380px) {
    .hideing{
        /*visibility: hidden;*/
        display: none;
    }
    .small{
        font-size: 12px;
    }
    
  }