{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text center-align text-shadow">All Books</h3>

    <ul class="collapsible popout">
        {% for book in books %}
        <li>
            <div class="collapsible-header white-text teal text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ book.book_name }}</strong> : By {{ book.book_author }} | Release:  {{book.book_release}}  | {{ book.book_upvote }}

                
            </div>
            <div class="collapsible-body">
                <strong>{{ book.category_name }}</strong>
                <div></div>
                <div><img src="https://images-na.ssl-images-amazon.com/images/I/41wBo8-XN7L._AC_SX368_.jpg" alt=""></div>
                <p>{{ book.book_description }}</p>
                <p><em>by: {{ book.created_by }}</em></p>
            </div>
        </li>
        
        {% endfor %}
        
    </ul>
{% endblock %}